.item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 1);
}

/* Triángulo decorativo */
.item::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    border-style: solid;
    border-color: transparent transparent transparent var(--color);
    border-width: 40px;
    filter: drop-shadow(5px 0 4px rgba(0, 0, 0, 1));
}

.item:hover::after {
    filter: drop-shadow(5px 0 4px rgba(0, 0, 0, 0.1));
}
